/*------------Fonts-------------*/


@font-face {
  font-family: 'Museo Sans 100';
  src: url('../fonts/MuseoSansCyrl-100.eot');
  src: url('../fonts/MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl-100.woff2') format('woff2'),
    url('../fonts/MuseoSansCyrl-100.woff') format('woff'),
    url('../fonts/MuseoSansCyrl-100.ttf') format('truetype'),
    url('../fonts/MuseoSansCyrl-100.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'Museo Sans 300';
  src: url('../fonts/MuseoSansCyrl-300.eot');
  src: url('../fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl-300.woff2') format('woff2'),
    url('../fonts/MuseoSansCyrl-300.woff') format('woff'),
    url('../fonts/MuseoSansCyrl-300.ttf') format('truetype'),
    url('../fonts/MuseoSansCyrl-300.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'Museo Sans 700';
  src: url('../fonts/MuseoSansCyrl-700.eot');
  src: url('../fonts/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl-700.woff2') format('woff2'),
    url('../fonts/MuseoSansCyrl-700.woff') format('woff'),
    url('../fonts/MuseoSansCyrl-700.ttf') format('truetype'),
    url('../fonts/MuseoSansCyrl-700.svg#svgFontName') format('svg');
}



/*-----------Specification---------------*/


body {
  font-family: 'Museo Sans 300';
  font-size: 14px;
  letter-spacing: 0;
  color: #404048;
  padding: 0;
  margin: 0;
}

body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Museo Sans 700';
  color: #081d42;
  letter-spacing: 0;
}

div,
p,
ul,
li,
input,
textarea,
nav,
button,
form,
a,
*:before,
*:after {
  box-sizing: border-box;
}

ul,
li {
  display: block;
  list-style: none;
  color: inherit;
}

a,
a:hover,
a:active,
a:focus,
button,
input,
button:hover,
button:active,
button:focus,
input:focus,
input:active,
textarea,
textarea:focus,
textarea:active {
  text-decoration: none;
  outline: none;
}

a,
button,
input {
  transition: all 0.5s ease;
}

a {
  color: inherit;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

input,
input:hover,
input:focus,
input:active,
button,
button:hover,
button:focus,
button:active {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  border: none;
}

.container {
  max-width: 1200px;
}

/*-----------Home page-----------*/

/* ---Header--- */

.header {
  position: relative;
  background: url('../img/bg_header.png') no-repeat center / cover;
}

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(165, 198, 255, .47);
}

/* ---Navigation--- */

.navigation {
  position: relative;
  background-color: rgba(191, 194, 200, 0.41);
  border-top: 5px solid #58647a;
  box-shadow: 0 0 0 4px rgba(88, 100, 122, .08);
  padding: 17px 0 5px;

}

/* .navigation_inner {
  box-shadow: none;
  border-bottom: 4px solid rgba(88,100,122,.08);
} */

.menu__item a {
  font-family: 'Museo Sans 700';
  font-size: 17px;
  color: #3f4b60;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

.menu__item a:hover {
  color: #b81c31;
  border-bottom: 2px solid #b81c31;
}

.btn {
  font-family: 'Museo Sans 700';
  font-size: 13px;
  color: #fff;
  background: #1cb883;
  text-align: center;
  display: block;
  width: 156px;
  padding: 8px 0;
  margin: 0 auto;
  border-radius: 0;
  border-bottom: 4px solid #149d6f;
}

.btn:active {
  border-bottom: 2px solid #149d6f;
}

.burger {
  margin-left: 36px;
}

/* ---Offer--- */

.offer {
  padding: 100px 0 132px;
  color: #081d42;
  border-bottom: 16px solid rgba(255, 255, 255, 0.15);
}

.offer__title {
  font-size: 58px;
}

.offer__text {
  font-family: 'Museo Sans 100';
  font-size: 29px;
  max-width: 463px;
  margin: 13px 0 27px;
  line-height: 1.2em;
}

.home-social {
  background: rgba(235, 229, 232, 0.8);
  border: 3px solid rgba(233, 240, 252, 0.6);
  border-radius: 5px;
  max-width: 172px;
  padding: 8px 18px;
}

.home-social__link {
  padding: 0 6px;
  font-size: 17px;
}

.home-social__link_facebook {
  color: #3d6ca8;
}

.home-social__item_facebook {
  border: 2px solid #3d6ca8;
}

.home-social__item_twitter {
  border: 2px solid #17c0ff;
}

.home-social__item_telegram {
  border: 2px solid #25a3d4;
}

.home-social__link_twitter {
  color: #17c0ff;
}

.home-social__link_telegram {
  color: #25a3d4;
}

.home-social__link_facebook a {
  color: #3d6ca8;
}

.home-social__link_twitter a {
  color: #17c0ff;
}

.home-social__link_telegram a {
  color: #25a3d4;
}

.home-social__link_facebook:hover {
  color: #3d6ca8;
}

.home-social__link_twitter:hover {
  color: #17c0ff;
}

.home-social__link_telegram:hover {
  color: #25a3d4;
}


/*---Trust---*/

.trust {
  background-color: #f1f1f3;
  padding: 52px 0 90px;
  position: relative;
  text-align: center;
}

.trust__title {
  font-size: 30px;
  margin-bottom: 41px;
}

.question {
  max-width: 600px;
  margin: 0 auto;
}

.question__circle {
  margin: 0 auto;
  width: 118px;
  height: 118px;
  line-height: 113px;
  background-color: #c8cbdb;
  border-radius: 50%;
}

.question__title {
  font-size: 21px;
  margin: 21px 0 9px;
}

.question__text {
  letter-spacing: 0.02em;
  line-height: 1.3em;
}

.btn_more {
  position: absolute;
  font-size: 16px;
  width: 170px;
  left: 50%;
  bottom: -25px;
  transform: translateX(-50%);
  padding: 10px 0;
  border-bottom: 5px solid #149d6f;
  line-height: 20px;
}

/* ---Lab--- */

.lab {
  padding: 104px 0 78px;
  background-color: #fff;
}

.business__circle {
  font-family: 'Museo Sans 100';
  font-size: 50px;
  border-radius: 50%;
  width: 85px;
  height: 85px;
  margin: 0 auto;
  background-color: #102e62;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.business__title {
  font-family: 'Museo Sans 100';
  font-size: 23px;
  text-align: center;
  margin: 7px 0 12px;
}

.business__title:first-letter {
  color: #b81c31;
}

.business__text {
  text-align: center;
  color: #404048;
}

/*---Info---*/

.info {
  padding: 38px 0 40px;
  background: url('../img/bg_mission.png') no-repeat center / cover;
}

.info-title {
  color: #a7acb6;
  font-size: 23px;
  padding-bottom: 13px;
  margin-bottom: 18px;
  border-bottom: 3px solid #6f7a8c;
}

.mission__text {
  color: #d1d4d8;
  font-size: 15px;
  line-height: 1.2em;
}

.mission__info_left {
  max-width: 470px;
  margin-right: 15px;
}

.mission__info_right {
  max-width: 370px;
}

.mission__text:not(:last-child) {
  margin-bottom: 14px;
}

.news__list {
  padding-bottom: 10px;
  position: relative;
}

.news__list:not(:last-child) {
  margin-bottom: 24px;
}

.news__list:after {
  content: '';
  display: block;
  border-bottom: 1px solid #6c778b;
  max-width: 490px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.news__img {
  width: 56px;
  height: 56px;
  margin-right: 14px;
  pointer-events: none;
  object-fit: cover;
}

.news__info {
  font-size: 12px;
  color: #c5cad2;
  font-weight: 700;
  display: inline-block;
  line-height: 1.1;
  max-width: 183px;
  text-decoration: none;
}

.news__title {
  font-family: 'Museo Sans 700';
  font-size: 12px;
  color: #d0d3d8;
  margin-bottom: 14px;
}

.news__date {
  font-family: 'Museo Sans 100';
  font-size: 10px;
  color: #a2a8b3;
}

.news a {
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.news__title:hover {
  color: #a2a8b3;
}

.mission__btn {
  width: 175px;
  font-size: 16px;
  color: #d3d6dc;
  border: 2px solid #d3d6dc;
  line-height: 40px;
  text-align: center;
  font-weight: 700;
  display: inline-block;
  margin-top: 23px;
}

.mission__btn:hover {
  text-decoration: none;
  color: #e0ecff;
  background-color: #979daa;
}

/*---Composition---*/

.composition {
  padding: 38px 0 0;
  background-color: #3a4456;
}

.page-link {
  margin-bottom: 40px;
}

.page-title {
  color: #babcc1;
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 14px;
  display: block;
  text-decoration: none;
}

.page-title:hover {
  color: #babcc1;
}

.site-map {
  margin-bottom: 45px;
}

.site-map a {
  text-decoration: none;
}

.specific__link {
  color: #a5a8af;
  border-bottom: 1px solid transparent;
  padding-bottom: 1px;
  transition: all .6s ease;
}

.specific__item {
  font-size: 14px;
  font-weight: 300;
}

.specific__link:hover {
  color: #a5a8af;
  text-decoration: none;
  border-bottom: 1px solid #a5a8af;
}

/*---Footer---*/

.footer {
  padding: 33px 0 43px;
  border-bottom: 18px solid #58647a;
  background-color: #1f2531;
  color: #aaabae;
  font-size: 12px;
  font-weight: 100;
  line-height: 1.2em;
  text-align: center;
}

.logo-footer {
  margin-top: -33px;
}

.site__letter {
  font-size: 15px;
  font-weight: 100;
  border: 1px solid #acafb3;
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 24px;
  margin-top: 5px;
}

.communication {
  margin-bottom: 15px;
}

.communication__text,
.address__text,
.dev__text,
.copy__desc,
.dev__desc {
  margin-bottom: 1px;
}

.address {
  font-size: 12px;
  font-weight: 100;
  line-height: 1.2;
}

.site {
  margin-bottom: 24px;
}

.dev {
  margin-left: 11px;
}

.btn_footer {
  line-height: 18px;
}

.dev__desc {
  text-transform: uppercase;
}

.copy__title {
  text-transform: uppercase;
  display: inline-block;
}

.copy__link {
  color: #9c9da1;
  border-bottom: 1px solid transparent;
  padding-bottom: 2px;
}

.copy__desc_lab {
  font-weight: 700;
}

.copy__link:hover {
  color: #9c9da1;
  border-bottom: 1px solid #9c9da1;
}

/* ---Form--- */

.modal-call {
  position: fixed;
  margin-left: -150px;
  left: 50%;
  top: -100%;
  padding: 20px;
  z-index: 10;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 412px;
  border-radius: 5px;
  background: #fff;
  padding: 50px 50px;
  transition: all 0.5s ease-in;
}

.overflow {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9;
  background: rgba(0,0,0,0.7);
  
  top: 0;
}

.modal-call__input {
  color: #acacac;
  font-size: 14px;
  width: 100%;
  padding: 12px 0 12px 0;
  letter-spacing: 0.02em;
  margin-bottom: 7px;
  border: 1px solid #fff;
  border-bottom: solid 1px #acacac;
  font-family: 'Museo Sans 300';
  outline: none;
}

.modal-call__title {
  font-family: 'Museo Sans 700';
  color: #081d42;
  font-size: 21px;
  text-transform: none;
  margin-bottom: 14px;
}

.modal-call__text {
  line-height: 1.5em;
  margin-bottom: 19px;
}

.modal-call__btn {
  margin-top: 30px;
  width: 100%;
}

/* ---модальное открываем/закрываем--- */

/* .span {
  cursor: pointer;
} */

/* .modal-call {
  position: absolute;
  width: 300px;
  margin-left: -150px;
  left: 50%;
  top: -100%;
  padding: 20px;
  background: #fff;
  border: 1px solid #333;
  z-index: 9999;
  transition: all 0.5s ease-in;
} */





/*---------About page---------*/

.navigation-inner {
  background-color: rgba(191, 194, 200, 0.41);
  border-top: 5px solid #58647a;
  border-bottom: 4px solid rgba(88, 100, 122, .08);
  background-clip: padding-box;
  padding: 17px 0 5px;
}

/* ---Discribe--- */

.describe {
  padding: 63px 0 71px;
  background-color: #fafafb;
  border-top: 4px solid rgba(88, 100, 122, .08);
  color: #a1a6af;
}

.describe h1 {
  font-family: 'Museo Sans 700';
  font-size: 38px;
  color: #081d42;
}

.crumblebread {
  margin-top: 10px;
}

.breadcrumbs__link {
  font-family: 'Museo Sans 300';
  font-size: 16px;
  color: #7e838d;
}

.breadcrumbs__link:hover {
  font-family: 'Museo Sans 300';
  font-size: 16px;
  color: #49556b;
  text-decoration: none;
  border-bottom: 1px solid #5f697d;
}

.breadcrumbs__link:not(:last-child):after {
  content: '\2192';
  margin: 0 4px 0 5px;
}

.paragraph a {
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.35;
  padding: 13px 14px;
  color: #a1a6af;
  border: 2px solid transparent;
  transition: all .5s ease;
}

.paragraph a:hover {
  text-decoration: none;
  outline: none;
  color: #b81c31;
  border: 2px solid #b81c31;
  border-radius: 2px;
}

.paragraph a.active {
  text-decoration: none;
  outline: none;
  color: #b81c31;
  border: 2px solid #b81c31;
  border-radius: 2px;
}

.paragraph__disc {
  font-family: 'Museo Sans 300';
  font-size: 13px;
}

/*---Merit---*/

.merit {
  padding: 45px 0 45px;
}

.merit-title {
  letter-spacing: 0.02em;
}

.privilege-text {
  font-size: 15px;
  font-weight: 300;
  color: #404048;
  margin: 28px 0 53px;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  padding: 15px 0 15px;
}

.privilege-text__left {
  width: 50%;
}

.privilege-text__right {
  width: 49%;
}

/* ---Summary--- */

.summary {
  border-top: 2px solid #e5e6e8;
}

.summary__list {
  padding: 22px 0 38px;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.summary__list:after {
  content: '';
  display: block;
  border-bottom: 2px solid #e5e6e8;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 960px;
}

.summary__circle {
  width: 60px;
  height: 60px;
  border: 1px solid #102e62;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  background: url(../img/scales.png) no-repeat center center;
}

.summary__desc {
  width: 90%;
}

.summary__title {
  font-family: 'Museo Sans 700';
  font-size: 18px;
  color: #081d42;
  margin-bottom: 12px;
  font-size: 19px;
}

/* ---Presentation--- */

.presentation {
  padding: 47px 0 69px;
}

.presentation__title {
  margin-bottom: 42px;
  letter-spacing: 0.02em;
}

.gallery {
  max-width: 268px;
  width: 100%;
  transition: all 0.6s ease;
  position: relative;
  margin: 0 auto;
}

.gallery__over {
  background: rgba(58, 68, 86, .7);
  border: 7px solid #9a97a7;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  transition: all 0.5s ease;
}

.gallery:hover .gallery__over {
  display: flex;
}

/*----------Services page----------*/

/* ---Lawyer--- */

.lawyer {
  position: relative;
  background: url(../img/lawyer.png) no-repeat center top/cover;
  color: #fff;
  padding: 16px 0 36px;
}

.lawyer:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(88, 94, 122, .69);
}

.guiding {
  max-width: 330px;
  letter-spacing: 0.02em;
}

.guiding__title {
  font-size: 25px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 20px;
}

.guiding__text {
  font-size: 15px;
  font-weight: 300;
}

/* ---Services--- */

.services {
  font-size: 15px;
  font-weight: 300;
  border: 2px solid #a5a9b5;
  border-radius: 5px;
  padding: 16px;
  margin-top: 25px;
  letter-spacing: 0.02em;
}

.services__list {
  margin: 4px 0 10px 10px;
}

.services__link {
  font-family: 'Museo Sans 300';
  font-size: 15px;
  color: #fff;
  border-bottom: 1px solid transparent;
}

.services__link:hover {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #cecdd1;
}

.services__link:before {
  content: '\2192';
  margin: 0 4px 0 5px;
}

/* ---Subcategory--- */

.category {
  padding: 12px 0 55px;
  letter-spacing: 0.02em;
}

.sub {
  padding-top: 45px;
  margin-bottom: 30px;
}

.sub__text:not(:last-child) {
  margin-bottom: 8px;
}

.sub__title {
  margin-bottom: 23px;
  font-size: 29px;
  font-weight: 700;
  color: #081d42;
  letter-spacing: 0.02em;
}

.sub__text {
  color: #404048;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.4em;
  letter-spacing: 0.02em;
}

/* ---Help--- */

.help {
  border: 2px solid #e3e4e6;
  border-radius: 4px;
  padding: 23px 28px 29px 32px;
  max-width: 470px;
  background: url(../img/conf_call.png) right bottom no-repeat;
}

.help__title {
  font-size: 17px;
  font-weight: 700;
  color: #414449;
  margin-bottom: 16px;
}

.help__call {
  color: #b81c31;
  font-size: 14px;
  font-weight: 700;
  border: 2px solid #b81c31;
  padding: 10px 19px;
  background: transparent;
}

.help__call:hover {
  color: #fff;
  border: 2px solid transparent;
  background: #b81c31;
  text-decoration: none;
}

.help__number {
  font-size: 14px;
  font-weight: 700;
  color: #585f6b;
  margin-left: 30px;
}

.help__number:hover {
  color: #b81c31;
}

.help__text {
  font-size: 12px;
  font-weight: 300;
  color: #888d95;
  max-width: 270px;
  margin-top: 11px;
  line-height: 1.2em;
}

.help__img {
  height: 93px;
}

/* ---Aside All--- */

.all {
  background-color: #fafafb;
  padding: 50px 0 0 26px;
  height: 100%;
}

.guidance {
  margin-bottom: 51px;
}

.guidance__title {
  font-size: 18px;
  color: #969ca9;
  margin-bottom: 42px;
}

.subparagraph {
  font-size: 15px;
  font-weight: 700;
  border-top: 1px solid #dfdfe8;
  margin-bottom: 50px;
}

.subparagraph__link {
  color: #747487;
  margin-left: 30px;
}

.subparagraph__link:hover {
  text-decoration: none;
  color: #747487;
}

.subparagraph__list {
  border-bottom: 1px solid #dfdfe8;
  padding: 10px 0;
  position: relative;
}

.subparagraph__list:before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  background: #aeaeb9;
  margin-right: 16px;
  position: absolute;
  top: 50%;
  margin-top: -5px;
}

/* ---Review--- */

.review__title {
  color: #969ca9;
  font-size: 18px;
  margin-bottom: 28px;
}

.review__slide {
  text-align: center;
}

.review__avatar {
  overflow: hidden;
  width: 130px;
  height: 130px;
  border: 5px solid #656e8d;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.review__name {
  font-size: 16px;
  font-weight: 700;
  color: #747487;
  margin: 17px 0 17px;
}

.review__text {
  font-size: 13px;
  font-weight: 300;
  color: #404048;
  margin-bottom: 16px;
  max-width: 254px;
  margin: 0 auto;
}

.review__link {
  color: #2c60a0;
  font-size: 16px;
  margin: 15px 0 20px;
  display: block;
}


/*----------Contacts page-----------*/

.contacts-title {
  font-size: 38px;
  font-weight: 700;
}


.maps {
  position: relative;
  padding: 42px 0;
}

/* ---Coordinates--- */

.coordinates {
  padding: 19px 34px 46px 35px;
  background-color: rgba(124, 132, 147, 0.9);
  color: #fff;
  position: relative;
  z-index: 15;
  border-radius: 5px;
  max-width: 470px;
}

.coordinates:before {
  content: '';
  display: block;
  border: 17px solid transparent;
  position: absolute;
  border-top: 17px solid rgba(124, 132, 147, 0.9);
  border-left: 17px solid rgba(124, 132, 147, 0.9);
  border-radius: 4px;
  left: -17px;
  top: 19px;
  transform: rotate(-45deg) scale(1) skew(1deg) translate(0px);
}

.coordinates__title {
  font-size: 21px;
  color: #fff;
}

.coordinates__top {
  border-bottom: 2px solid #9aa1ad;
  padding-bottom: 19px;
}

.coordinates__item {
  border: 2px solid #fff;
}

.coordinates__item:not(:last-child) {
  margin-right: 20px;
}

.coordinates__social {
  color: #fff;
  padding: 0 6px;
}

.coordinates__social:hover,
.coordinates__link:hover {
  color: #fff;
}

.coordinates__description {
  margin-top: 43px;
}

.coordinates__link {
  color: #fff;
  display: block;
}

.coordinates__link:not(:last-child) {
  margin-bottom: 10px;
}

.coordinates__adress {
  max-width: 185px;
  width: 100%;
  margin: 0;
}

.coordinates__post {
  margin: 30px 0 23px;
}

.coordinates__link,
.coordinates__post {
  position: relative;
  padding-left: 25px;
}

.coordinates__icon {
  position: absolute;
  top: 0;
  left: 0;
}

.coordinates__offer {
  max-width: 180px;
  width: 100%;
}

.coordinates__text {
  font-size: 12px;
}

.coordinates__text:not(:last-child) {
  margin-bottom: 16px;
}


/*---------------Адаптация-------------------*/

/* 992-1200px */
@media screen and (max-width: 1200px) {}

/* 768-992px */
@media screen and (max-width: 992px) {
  
}

/* 576-768px */
@media screen and (max-width: 768px) {
  .burger {
    margin-left: 23px;
  }
}

/* 320-576px */
@media screen and (max-width: 576px) {
  
}