/*------------Fonts-------------*/


@font-face {
	font-family: 'Museo Sans 100';
	src: url('../fonts/MuseoSansCyrl-100.eot');
	src: url('../fonts/MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSansCyrl-100.woff2') format('woff2'),
		url('../fonts/MuseoSansCyrl-100.woff') format('woff'),
		url('../fonts/MuseoSansCyrl-100.ttf')  format('truetype'),
		url('../fonts/MuseoSansCyrl-100.svg#svgFontName') format('svg');
		font-weight: 100;
}

@font-face {
	font-family: 'Museo Sans 300';
	src: url('../fonts/MuseoSansCyrl-300.eot');
	src: url('../fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSansCyrl-300.woff2') format('woff2'),
		url('../fonts/MuseoSansCyrl-300.woff') format('woff'),
		url('../fonts/MuseoSansCyrl-300.ttf')  format('truetype'),
		url('../fonts/MuseoSansCyrl-300.svg#svgFontName') format('svg');
		font-weight: 300;
}

@font-face {
	font-family: 'Museo Sans 700';
	src: url('../fonts/MuseoSansCyrl-700.eot');
	src: url('../fonts/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSansCyrl-700.woff2') format('woff2'),
		url('../fonts/MuseoSansCyrl-700.woff') format('woff'),
		url('../fonts/MuseoSansCyrl-700.ttf')  format('truetype'),
		url('../fonts/MuseoSansCyrl-700.svg#svgFontName') format('svg');
		font-weight: 700;
}



/*-----------Specification---------------*/


body {
	font-family: 'Museo Sans 300';
	font-size: 14px;
	letter-spacing: 0;
	color: #404048;
	padding: 0;
	margin: 0;
}

p, input {
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4 {
	letter-spacing: 0;
	padding: 0;
	margin: 0;
}

h1 {
	font-family: 'Museo Sans 700';
	font-size: 58px;
	color: #081d42;
}

h2 {
	font-family: 'Museo Sans 700';
	font-size: 30px;
	color: #081d42;
}

h3 {
	font-family: 'Museo Sans 700';
	font-size: 23px;
	color: #081d42;
}

h4 {
	font-family: 'Museo Sans 700';
	font-size: 21px;
	color: #081d42;
}

div, p, span, form, a, li, ul, input, button {
	box-sizing: border-box;
}

ul,li {
	display: block;
	padding: 0;
	margin: 0;
}

a {
	box-sizing: border-box;
	text-decoration: none;
  font-size: 14px;
  outline: none;
}

a, button, input {
	transition: all 0.5s ease;
}

input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active {
	outline: none;
}

.container {
  max-width: 1200px;
}

/*-------------Home page-------------*/

/*-------Header------*/

.header {
	position: relative;
	background: url('../img/bg_header.png') no-repeat center / cover;
	border-top: 5px solid #58647a;	
}

.header:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(165,198,255,.47);
}

.navigation {
	position: relative;
	background-color: rgba(191,194,200,0.41);
	box-shadow: 0 0 0 4px rgba(88,100,122,.1);
	padding: 17px 0 5px;
}

.menu__item a {
	font-family: 'Museo Sans 700';
	font-size: 17px;
	color: #3f4b60;
	text-decoration: none;
	border-bottom: 2px solid transparent;
}

.menu__item a:hover {
	color: #b81c31;
	border-bottom: 2px solid #b81c31;
}

.btn {
  font-family: 'Museo Sans 700';
  font-size: 13px;
  color: #fff;
  background: #1cb883;
  text-align: center;
  display: block;
  width: 156px;
  padding: 8px 0;
  margin: 0 auto;
  border-radius: 0;
  border-bottom: 4px solid #149d6f;
}

.btn:active {
	border-bottom: 2px solid #149d6f;
}

.offer {
  padding: 100px 0 132px;
  color: #081d42;
  border-bottom: 16px solid rgba(255, 255, 255, 0.15);
}

.offer__text {
  font-family: 'Museo Sans 300';
  font-size: 29px;
  max-width: 463px;
  margin:13px 0 27px;
  line-height: 1.2em;
}

.home-social {
  background: rgba(235,229,232, 0.8);
  border: 3px solid rgba(233, 240, 252, 0.6);
  border-radius: 5px;
  max-width: 172px;
  padding: 8px 18px;
}

.home-social__link  {
  padding: 0 6px;
  font-size: 17px;
}

.home-social__link_facebook {
  color: #3d6ca8;
}

.home-social__item_facebook {
  border: 2px solid  #3d6ca8;
}

.home-social__item_twitter {
  border: 2px solid #17c0ff;
}

.home-social__item_telegram {
  border: 2px solid #25a3d4;
}

.home-social__link_twitter {
  color: #17c0ff;
}

.home-social__link_telegram {
  color: #25a3d4;
}

.home-social__link_facebook a {
  color: #3d6ca8;
}

.home-social__link_twitter a {
  color:  #17c0ff;
}

.home-social__link_telegram a {
  color:  #25a3d4;
}

.home-social__link_facebook:hover {
  color: #3d6ca8;
}

.home-social__link_twitter:hover {
  color:  #17c0ff;
}

.home-social__link_telegram:hover {
  color:  #25a3d4;
}


/*-----First section-----*/

.trust {
	background-color: #f1f1f3;
	padding: 52px 0 90px;
    position: relative;
}

.trust__title {
	margin-bottom: 41px;
}

.question__circle {
	margin: 0 auto;
	width: 118px;
	height: 118px;
	text-align: center;
	line-height: 113px;
	background-color: #c8cbdb;
	border-radius: 50%;
}

.question__title {
	margin: 21px 0 9px;
    text-align: center;
}

.question__text {
	text-align: center;
    letter-spacing: 0.02em;
    line-height: 1.3em;
}

.btn_more {
	position: absolute;
    font-size: 16px;
    width: 170px;
    left: 50%;
    bottom: -25px;
    transform: translateX(-50%);
    padding: 10px 0;
    border-bottom: 5px solid #149d6f;
    line-height: 20px;
}

/* -----Second section----- */

.lab {
    padding: 104px 0 78px;
    background-color: #fff;
}

.business__circle {
	font-family: 'Museo Sans 100';
    font-size: 50px;
    border-radius: 50%;
    width: 85px;
    height: 85px;
    margin: 0 auto;
    background-color: #102e62;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.business__title {
	font-family: 'Museo Sans 100';
    font-size: 24px;
    text-align: center;
    margin: 7px 0 12px;
}

.business__title_red {
	color: #b81c31;
}

.business__text {
    text-align: center;
    color: #404048;
}

/*-----Third section-----*/

.info {
    padding: 38px 0 40px;
    background-color: #5a6679;
}

.info-title {
    color: #a7acb6;
    font-size: 23px;
    padding-bottom: 13px;
    margin-bottom: 18px;
    border-bottom: 3px solid #6f7a8c;
}

.mission__text {
	color: #d1d4d8;
	font-size: 15px;
	line-height: 1.2em;
}

.mission__info_left {
 	max-width: 470px;
}

.mission__info_right {
	max-width: 370px;
}

.mission__text:not(:last-child) {
	margin-bottom: 14px;
}

.news__list {
    padding-bottom: 10px;
    position: relative;
}

.news__list:not(:last-child) {
	margin-bottom: 24px;
}

.news__list:after {
	content: '';
	display:block;
	border-bottom: 1px solid #6c778b;
	max-width: 490px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}

.news__img {
    width: 56px;
    height: 56px;
    margin-right: 14px;
    pointer-events: none;
    max-width: 100%;
}

.news__info {
    font-size: 12px;
    color: #c5cad2;
    font-weight: 700;
    display: inline-block;
    line-height: 1.1;
    max-width: 183px;
    text-decoration: none;
}

.news__title {
	font-family: 'Museo Sans 700';
    font-size: 12px;
    color: #cfd2d7;
    margin-bottom: 14px;
}

.news__date {
    font-family: 'Museo Sans 100';
    font-size: 10px;
    color: #a2a8b3;
}

.mission__btn {
    width: 175px;
    font-size: 16px;
    color: #d3d6dc;
    border: 2px solid #d3d6dc;
    line-height: 40px;
    text-align: center;
    font-weight: 700;
    display: inline-block;
    margin-top: 23px;
}

.mission__btn:hover {
	text-decoration: none;
	color: #e0ecff;
	background-color: #979daa;
}

/*------Fourth section------*/

.composition {
  padding: 38px 0 0;
  background-color: #3a4456;
}

.page-link {
  margin-bottom: 40px;
}

.page-title {
  color: #babcc1;
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 14px;
  display: block;
  text-decoration: none;
}

.page-title:hover {
  color: #babcc1;
}

.site-map {
  margin-bottom: 45px;
}

.site-map a {
	text-decoration: none;
}

.specific__link {
  color: #a5a8af;
  border-bottom: 1px solid transparent;
  padding-bottom: 1px;
  transition: all .6s ease;
}

.specific__item {
  font-size: 14px;
  font-weight: 300;
}

.specific__link:hover {
  color: #a5a8af;
  text-decoration: none;
  border-bottom: 1px solid #a5a8af;
}

/*---------Footer------------*/

.footer {
  padding: 33px 0 43px;
  border-bottom: 18px solid #58647a;
  background-color: #1f2531;
  color: #aaabae;
  font-size: 12px;
  font-weight: 100;
  line-height: 1.2em;
}

.logo-footer {
  margin-top: -33px;
}

.site__letter {
  font-size: 15px;
  font-weight: 100;
  border: 1px solid #acafb3;
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 24px;
  margin-top: 5px;
}

.communication {
  margin-bottom: 15px;
}

.communication__text, .address__text, .dev__text, .copy__desc, .dev__desc {
  margin-bottom: 1px;
}

.address {
  font-size: 12px;
  font-weight: 100;
  line-height: 1.2;
}

.site {
  margin-bottom: 24px;
}

.dev {
  margin-left: 11px;
}

.btn_footer {
  line-height: 18px;
}

.dev__desc {
  text-transform: uppercase;
}

.copy__title {
  text-transform: uppercase;
  display: inline-block;
}

.copy__link {
  color: #9c9da1;
  border-bottom: 1px solid transparent;
  padding-bottom: 2px;
}

.copy__desc_lab {
  font-weight: 700;
}

.copy__link:hover {
  color: #9c9da1;
  border-bottom: 1px solid #9c9da1;
}

/*-----About page-----*/

.describe {
  padding: 63px 0 71px;
  background-color: #fafafb;
  border-top: 4px solid #f1f1f3;
  color: #a1a6af;
}

.describe h1 {
  font-family: 'Museo Sans 700';
	font-size: 38px;
	color: #081d42;
}

.crumblebread {
  margin-top: 10px;
}

.crumblebread__item {
  font-family: 'Museo Sans 300';
	font-size: 16px;
	color: #7e838d;
}

.breadcrumbs__link {
  font-family: 'Museo Sans 300';
	font-size: 16px;
  color: #7e838d;
}

.breadcrumbs__link:hover {
  font-family: 'Museo Sans 300';
	font-size: 16px;
  color: #49556b;
  text-decoration: none;
  border-bottom: 1px solid #5f697d;
}

.breadcrumbs__link:not(:last-child):after {
  content: '\2192';
  margin: 0 4px 0 5px;
}

.paragraph a {
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.35;
  padding: 13px 14px;
  color: #a1a6af;
  border: 2px solid transparent;
  transition: all .5s ease;
}

.paragraph a:hover {
  text-decoration: none;
  outline: none;
  color: #b81c31;
  border: 2px solid #b81c31; 
  border-radius: 2px;
}

 .paragraph a:active {
  text-decoration: none;
  outline: none;
  color: #b81c31;
  border: 2px solid #b81c31; 
  border-radius: 2px;
}

.presentation {
  padding: 47px 0 69px;
}

.photos-title {
  margin-bottom: 42px;
  letter-spacing: 0.02em;
}

.image__item {
  width: 270px;
  height: 270px;
}

.resourse {
  max-width: 270px;
  width: 100%;
  transition: all 0.6s ease;
  position: relative;
  overflow: hidden;
}

.resourse__detailes {
position: absolute;
top: -300px;
left: -300px;
opacity: 0;
width: 100%;
height: 100%;
justify-content: center;
border: 7px solid #9a97a7;
transition: all 0.6s ease;
background: rgba(58,68,86,0.7);
}

.resourse__link {
color: #fff;
font-size: 29px;
}

.resourse__expand {
color: #fff;
transform: rotate(45deg);
transform: rotate(45deg) scale(1) skew(1deg) translate(0);
  -webkit-transform: rotate(45deg) scale(1) skew(1deg) translate(0);
  -moz-transform: rotate(45deg) scale(1) skew(1deg) translate(0);
  -o-transform: rotate(45deg) scale(1) skew(1deg) translate(0);
  -ms-transform: rotate(45deg) scale(1) skew(1deg) translate(0);
}

.resourse__link:hover {
color: #fff;
} 

.resourse:hover .resourse__detailes  {
  opacity: 1;
  top: 0;
  left: 0;
}

/*---Section Merit---*/

.merit {
  padding: 45px 0 45px;
}

.merit-title {
  letter-spacing: 0.02em;
}

.privilege-text {
  font-size: 15px;
  font-weight: 300;
  color: #404048;
  margin: 28px 0 53px;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  padding: 15px 0 15px;
}

.privilege-text__left {
  width: 50%;
}

.privilege-text__right {
  width: 49%;
}

.summary {
  border-top: 2px solid #e5e6e8;
}

.summary__circle {
  width: 60px;
  height: 60px;
  border: 1px solid #102e62; 
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  background: url(../img/scales.png) no-repeat center center;
}

.summary__title {
 margin-bottom: 12px;
 font-size: 19px;
}

.summarry__text {
  color: #404048;
  font-size: 14px;
  font-weight: 300;
}

.summary__desc {
  width: 90%;
}

.summary__text {
  font-size: 14px;
  color: #404048;
  letter-spacing: 0.02em;
}

.summary__list {
  padding: 22px 0 38px;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.summary__list:after {
  content: '';
  display: block;
  border-bottom: 2px solid #e5e6e8;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 82%;
}

/*----Services page----*/

.paragraph__disc {
  font-family: 'Museo Sans 300';
  font-size: 13px;
}

/*----Contacts page----*/

